@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-2 col-md-1"></div>
    <div class="col-sm-2 col-md-8">

        in my first days, when i wanted to carry code to college and back, i used Microsoft Breifcase, on a USB.
        <br />
        <br />
        i could keep the latest changes and restore my "working folder" at school without any fuss, since i knew where the latest code was.
        <br />
        <br />
        then before i knew about freeware source control programs, i knew about Visual Source Safe.  a sure fire way to have a "spare copy" of your code at any given moment in time.
        <br />
        <br />
        i could not afford a copy of Visual Source Safe after college, and Briefcase didn't work after Vista, i think, or i stopped using it because i had built this.
        <br />
        <br />
        Project Source Backup Tool
        <br />
        <br />
        it will build a zip of your project folder.  or your project folder minus the pre-build files that VisualStudio produces

    </div>
    <div class="col-sm-2 col-md-2"></div>
