
@{
    ViewData["Title"] = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tutorial</h1>

<div class="row">
    <div class="col-sm-2 col-md-1"></div>
    <div class="col-sm-2 col-md-6 col-lg-8" align="center">

        When you start PSBT, you will see this screen;
        <br />
        <br />
        <img src="images\frmMain.png" />
        <br />
        <br />
        First, you will need to choose the project you want to backup
        <br />
        <br />        
        <img src="images\selectProjectFolder.png" />
        <br />
        <br />        
        Now choose where to put the output file, the file name will be automatically populated based on your previous selections, and today's date
        <br />
        <br />
        <img src="images\selectBackupFolder.png" />
        <br />
        <br />        
        Do you want your pre-build folders?
        <br />
        <br />        
        <img src="images\removeDebugFiles.png" />
        <br />
        <br />        
        Start the process..
        <br />
        <br />        
        <img src="images\Start.png" />
        <br />
        <br />        
        <div align="center">
            Save time next time?
            <br />
            <br />
            <img src="images\menuProject.png" />
            <br />
            <br />
            Save your inputs…
            <br />
            <br />
            <img src="images\saveProfile.png" />
            <br />
            <br />
            Profiles load automatically.
            <br />
            <br />
            <img src="images\loadProfile.png" />
            <br />
            <br />
        </div>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>